@import 'var';


body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font: 300 1em $fontBody;
}

.rowWrapper {
    padding: 6px 10px 10px;
    background-color: $bgColor;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo {
    font: 400 2.25em $fontLogo;
    flex: 3;
}

.form-row {
    box-sizing: border-box;
    border: 1px solid $primaryColor;
    margin-left: 10px;
    position: relative; /* for input label position*/
}

.col-6 {
    width: 20%;
}

button {
    outline: none;
    line-height: 1.7;    
    color: $secondaryColor;
    padding: 10px 15px;
    display: block;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

button span {
    background-color: $primaryColor;
    display: inline-block;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    -moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.key {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 20px;
    height: 17px;
    transform: translateX(-50%);
    transition: all .25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.keyDown {
    z-index: 10;
    top: 0;
}

button:hover {
    color: $primaryColor;
}

input, button {
    box-sizing: border-box;
    background-color: transparent;
    border-style: none;
    padding: 10px 20px 10px;
    font: $fontBody;
    width: 100%;
    text-align: left;
    cursor: pointer;
}   

label {
    font-size: .7em;
    color: $secondaryColor;
    background-color: $bgColor;
    border: 1px solid $primaryColor;
    border-width: 0 1px 0 1px;
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 1;
    padding: 0 5px;
    transition: all 0.35s;
    transform: translateY(calc(-50% - 1px));
}

input::placeholder {
    font-size: 1em;
    color: $secondaryColor;

}

/* adds input field name to top of field test */
input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(100%);
}

input:focus {
    outline: none;
    border-color: #fff;
}

